@model MVC_Personel.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h4>Personel Bilgileri Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Soyadı</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Adı</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityNumber" class="control-label">T.C. Kimlik Numarası</label>
                <input asp-for="IdentityNumber" class="form-control" />
                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Telefon Numarası</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Cinsiyeti</label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Kullanıcı Adı</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Adres</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistirationNumber" class="control-label">Sicil Numarası</label>
                <input asp-for="RegistirationNumber" class="form-control" />
                <span asp-validation-for="RegistirationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label">Departmanı</label>
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionID" class="control-label">Pozisyonu</label>
                <select asp-for="PositionID" class="form-control" asp-items="ViewBag.PositionID"></select>
                <span asp-validation-for="PositionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
