@model MVC_Personel.Models.Department

@{
    ViewData["Title"] = "Delete";
}

<h3>Bu departmanı silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Departman Adı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Listeye Dön</a>
    </form>
</div>
